@import "../../theme/theme";
@import "../../query.scss";

.Layout {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;
  background: #1d1d1d;

  .Content {
    display: flex;
    //align-items: center;
    flex-direction: row;

    width: 100%;
    height: 100%;

    color: $on-secondary;
    > div:first-child {
      /*  width: 60%;
      background-color: white; */
    }
    > div:last-child {
      /*     display: flex;
      align-items: center;
      width: 40%;
      height: 100%; */
    }

    h1 {
      display: flex;
      //font-size: 60px;
      font-size: 2em;
      font-family: $header-font;
      justify-content: center;
      padding-top: 30px;
      color: darkgray;
      text-transform: uppercase;
    }

    p,
    h3,
    h2,
    h4,
    h5 {
      width: 80%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
    h2 {
      text-transform: uppercase;
      color: $header-font;
      color: darkgray;
    }

    h4 {
      margin-top: 60px;
      margin-bottom: 10px;
      font-family: $header-font;
      font-size: 0.4em;
      text-transform: uppercase;
    }

    p {
      //font-size: 20px;
      font-size: 0.6em;
      font-family: $text-font;
      color: grey;
    }

    .socialMedia {
      display: flex;
      align-items: center;
      justify-content: center;

      .findMe {
        width: 20%;
        margin: 0;
      }

      ul {
        padding-left: 0;
        display: flex;
      }

      ul li {
        display: flex;
        list-style: none;
        // align-items: center;
        // justify-content: center;
        a {
          margin-right: 20px;
          text-decoration: none;
          color: lightgray;
          font-size: 0.6em;
        }
      }
    }
  }
}
