@import "../../theme/theme";

.Layout {
  /*   flex: 1;
 */
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;
  background: #1d1d1d;

  .Content {
    display: flex;
    //justify-content: center;
    align-items: center;
    flex-direction: row;

    width: 100%;
    height: 100%;

    color: $on-secondary;
    > div:first-child {
      /*  width: 60%;
      background-color: white; */
    }
    > div:last-child {
      display: flex;
      align-items: center;
      width: 40%;
      height: 100%;
    }

    h1 {
      font-size: 60px;
      text-align: left;
      font-family: $core-font;
      align-self: flex-start;
      margin-left: 10%;
    }

    p,
    h3,
    h5 {
      width: 80%;
      text-align: justify;
      margin-bottom: 0;
    }

    h3 {
    }
    p {
      font-size: 18px;
    }
  }
}
