.Cube {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  outline: none;
}

.Cube {
  /* width: 100vw; */
  /*   height: 100vh;
  background: orange;
  display: flex;
  justify-content: center; */
}
.Cube canvas {
  align-self: center;
  /* height: 50%; */
  /*   align-self: center;
  width: 50vw;
  background: red; */
}
